@font-face {
    font-family: 'Proxima Nova';
    src: url(./fonts/proxima_ssv/Proxima\ Nova\ Thin.otf);
}

@font-face{
    font-family: 'Consolas';
    src: url(./fonts/Consolas-Font/CONSOLA.TTF);
}

html {
    scroll-behavior: smooth;
    transition: 0.5s;
}

body {
    font-family: 'Proxima Nova';
    margin: 0;
    padding: 0;
}

ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header { 
    background-color: rgb(136, 228, 157, 0.6); 
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

li {
    padding-right: 20px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: rgb(69, 154, 72);
    font-weight: bold;
    font-size: 25px;
}

main {
    position: relative;
    top: 100px;
}

h1 {
    background-color: rgb(255, 91, 146);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 40px;
    margin: 0;
}

h2 {
    background-color: rgb(255,192,213);
    text-transform: uppercase;
    font-weight: lighter;
}

.html-description {
    height: 100px;
    width: 100px;
}


